<%= javascript_include_tag 'scroll_animation' %>

<% provide(:title, "CarShare") %>

<div id="contents">

  <!-- Articleのフィード -->
  <% if logged_in? %>

    <div id="feed-list-area">
      <h1><%= @search %></h1>
      <%= render 'shared/feed' %>
    </div>

  <% end %>

</div>