<% provide(:title, "Home") %>

<div id="contents">

  <!-- １番目のコンテンツ -->
  <div class="down-appear-trigger">
  <div class="normal-area down-appear">
    <div class="normal-block">
      <div class="imgR">
        <%= image_tag "harry01.png", alt: "Harry" %>
        <h1>ピコン！<br>とひらめく力！！</h1>
        <p>楽しくプログラミングする、まったり、ゆっくりな小動物、ハリー教授です！！</p>
      </div>
    </div>
  </div>


  <!-- ２番目のコンテンツ -->
  <div class="up-appear-trigger">
  <div class="non-background-area up-appear">
    <div class="white-block block2">
      <div class="imgR">
        <%= image_tag "harry02.png", alt: "Harry" %>
        <h1>ピコン！<br>とひらめく力！！</h1>
        <p>楽しくプログラミングする、まったり、ゆっくりな小動物、ハリー教授です！！</p>
      </div>
    </div>
  </div>


  <!-- ３番目のコンテンツ -->
  <div class="left-slide-trigger">
  <div class="normal-area left-slide">
    <div class="normal-block">
      <div class="imgL">
        <%= image_tag "harry03.png", alt: "Harry" %>
        <h1>ピコン！<br>とひらめく力！！</h1>
        <p>楽しくプログラミングする、まったり、ゆっくりな小動物、ハリー教授です！！/p>
      </div>  
    </div>
  </div>

  <!-- ４番目のコンテンツ -->
  <div class="right-slide-trigger">
  <div class="normal-area right-slide">
    <div class="normal-block">
      <div class="imgL">
        <%= image_tag "harry04.png", alt: "Harry" %>
        <h1>ピコン！<br>とひらめく力！！</h1>
        <p>楽しくプログラミングする、まったり、ゆっくりな小動物、ハリー教授です！！</p>
      </div>  
    </div>
  </div>

</div>