<% provide(:title, "Update ArticleShare") %>

<% provide(:url, article_path) %>
<% provide(:button_text, 'Update ArticleShare')%>

<div class="article-form">

  <h1>教科別投稿 編集</h1>

  <%= render 'form' %>

</div>