<div class="rlist">

  <!--戻るボタン-->
  <div class="rlist_top">
    <%= link_to "戻 る", current_user, class: "rlist_btn" %>
  </div>

  <h1>予約管理</h1>

  <% @events.each do |event| %>
    <li>
      <!-- カーシェアのタイトル -->
      <div class="car_title">
        <%= link_to Car.find(event.car_id).title, Car.find(event.car_id) %>
      </div>

      <!-- 予約者 -->
      <div class="user_name">
        <%= link_to User.find(event.user_id).name, User.find(event.user_id) %>
      </div>

      <!-- 予約日 -->
      <div class="event_date">
        <%= link_to event.start_date, event %>
      </div>
    </li>
  <% end %>

</div>