<% provide(:title, "Update CarShare") %>

<% provide(:url, car_path) %>
<% provide(:button_text, 'Update CarShare')%>

<div class="carshare-form">

  <h1>カーシェア情報 編集</h1>

  <%= render 'form' %>

</div>