<% provide(:title, "New CarShare") %>

<% provide(:url, cars_path) %>
<% provide(:button_text, 'Create CarShare')%>

<div class="carshare-form">

  <h1>カーシェア情報 新規登録</h1>

  <%= render 'form' %>

</div>



